@import url(../fonts.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    text-transform: initial;
    transition: all .2s linear;
}

:root{
    --red: #e80001;
    --SF-Pro_Bold: 'SF-Pro_Bold';
    --SF-Pro_Medium: 'SF-Pro_Medium'
}
*::selection{
    background-color: var(--red);
    color: #fff;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
body{
    background-color: rgb(255,255,255);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #fff;
    padding: 2rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
.logo{
    font-size: 2.5rem;
    font-weight: bold;
    color: #666;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.logo .logo_name h6{
    letter-spacing: .5rem;
    font-family: 'SF-Pro_Black';
    font-size: 1.7rem;
    color: #000;
}
.logo .logo_name p{
    font-family: 'SF-Pro_Thin';
    font-size: 1rem;
    letter-spacing: 3px;
}
header .logo i{
    padding-right: 5rem;
    color: var(--red);
}
header .navbar{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: #666;
    text-decoration: none;
    color:#000;
    font-family: var(--SF-Pro_Bold);
    font-weight: bold;
}
header .navbar a:hover{
    color: var(--red);
}
header .navbar form{
    position: relative;
}
header .navbar form i{
    position: absolute;
    left: 3%;
    top: 35%;
    font-size: 1.2rem;
}
header .navbar form:hover i{
    transform: scale(1.5);
}
header .navbar form input{
    padding: 1rem 2.5rem;
    width: 100%;
    border-radius: 1rem;
    background: #f8f8f8;
    border: none;
}
header .icons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    position: relative;
}
header .icons span{
    font-size: 2rem;
    font-weight: normal;
    line-height: 1.5rem;
    font-weight: bold;
}
header .icons .shop-card:hover,
header .icons span:hover{
    transform: rotate(360deg);
    transition: 1s ease;
}
header .icons i{
    font-size: 3rem;
    color: #000;
}
header .icons .shop-card .counter{
    position: absolute;
    background: var(--red);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border:.2rem solid #fff;
    right: 0;
    top: -.5rem;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .icons .shop-card
{
    width: 3.5rem;
    height: 3.5rem;
    position: relative;
}
.btn{
    background: var(--red);
    padding: 1rem 3rem;
    color:#fff;
    margin-left: 1rem;
    border-radius: .5rem;
    border:.1rem solid #e80001;
    position: relative;
    z-index: 0;
    overflow: hidden;
    box-sizing:border-box;
}
.btn::before
{
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    background: #fff;
    transition: .3s linear;
    top: 0;
    right: 0;
    z-index: -1;
} 
.btn:hover::before{
    width: 100%;
    left: 0;
    transition: .5s linear;
} 
.icons button span{
    font-size: 1.7rem;
}
.btn:hover{
    color: rgb(0, 0, 0);
}
.heading h2{
    font-family: 'SF-Pro_Bold';
    font-size: 2.5rem;
    line-height: 3rem;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 4.2rem;
}
section{
    padding: 2rem 9%;
}
.shops{
    margin-top: 14rem;
}
.shops .shop-filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}
.shops .shop-filter .filiallar{
       background: #fbfbfb;
       width: 35rem;
       height: 310px;    
       padding: 1.8rem 5.3rem;
}
.shops .shop-filter .filiallar .boxes{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.6rem;
    justify-content: center;
}
.shops .shop-filter .filiallar h2{
    font-family: 'SF-Pro_Regular';
    font-size: 1.4rem;
    opacity: .4;
    text-transform: uppercase;
}

.shops .shop-filter .filiallar .boxes .box{
    display: flex;
    align-items: center;
    gap: 1.6rem;
    width: 15rem;
    margin-bottom: 1.2rem;
    width: 25rem;
}
.shops .shop-filter .filiallar .boxes .box a{
    font-size: 1.6rem;
    font-family: 'SF-Pro_Regular';
    color: #000;
    line-height: 24px;
    cursor: pointer;
}
.shops .shop-filter .filiallar .boxes .box i{
    font-size: 3rem;
    border-radius: 50%;
}
.shops .shop-filter .maps .map{
    position: relative;
    
}
.shops .shop-filter .maps .map iframe{
    width: 73rem;
    height: 48rem;
    display: none;
}
.shops .shop-filter .maps .map .info{
    width: 32rem;
    height: 11rem;
    padding: 1.5rem 2rem;
    background: rgba(255,255,255,0.8);
    border-radius: 1rem;
    position: absolute;
    top: 8rem;
    right: 16rem;
}
.gm-style .place-card-large {
    display: none;
}
.shops .shop-filter .maps .map .info h3{
    font-family: 'Inter';
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}
.shops .shop-filter .maps .map .info .location,
.shops .shop-filter .maps .map .info .call-center{
    display: flex;
    align-items: center;
    gap: .9rem;
    margin-bottom: 0.4rem;
    position: relative;
}
.shops .shop-filter .maps .map .info .arr{
    position: absolute;
    bottom: -1rem;
    left: 50%;
    background: rgba(255,255,255,0.8);
    width: 2.2rem;
    height: 2.2rem;
    transform: rotate(45deg);

}
.shops .shop-filter .maps .map .info .location i,
.shops .shop-filter .maps .map .info .call-center i{
    font-size: 1.5rem;
    color: rgb(66, 66, 66);
}
.shops .shop-filter .maps .map .info .location p,
.shops .shop-filter .maps .map .info .call-center p{
    font-size: 1.4rem;
    color: #000;
    line-height: 20px;
    font-family: 'Inter';
    font-weight: normal;
}
.btn_play-market {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 2px solid #000;
    border-radius: .5rem;
    padding: 8px;
    margin-bottom: 3px;
    cursor:pointer;
}
.btn_play-market  .text{
    display: flex;
    flex-direction: column;        
}
.btn_play-market  i{
    font-size: 20px;
}

.btn_play-market  .text .min{
    font-size: 10px;
    line-height: 5px;
    text-transform: uppercase;
}
 .btn_play-market  .text .max{
    font-size: 16px;
    font-family: var(--SF-Pro_Bold);
}
.footer-start{
    margin-top: 11rem;
}
.footer-start .lines{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-start .lines .line-1 .facebook{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.footer-start .lines .line-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.footer-start .lines .line-1 .facebook i{
    font-size: 2.5rem;
    color: blue;
    padding: 0.1rem;
}
.footer-start .lines .line-1 .facebook span{
    font-family: var(--SF-Pro_Medium);
    font-size: 1.5rem;
    border: .1rem solid #0a52ee;
    width:75px;
    padding:.5rem;
    border-radius: 1rem 0 1rem 0;
}
.footer-start .lines .line-1 .telegram{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.footer-start .lines .line-1 .telegram i{
    font-size: 2.5rem;
    color: rgb(0, 153, 255);
    padding: 0.1rem;
}
.footer-start .lines .line-1 .telegram span{
    font-family: var(--SF-Pro_Medium);
    font-size: 1.5rem;
    border: .1rem solid #0a52ee;
    width:75px;
    padding:.5rem;
    border-radius: 1rem 0 1rem 0;
}
.footer-start .lines .line-1 .telegram span:hover,
.footer-start .lines .line-1 .facebook span:hover{
    background: #058fc5;
    color: #fff;
    transition: .5s ease;
    cursor:pointer;
    border-radius: 0 1rem 0 1rem;
}
.footer-start .lines .line-1 .instagram{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.footer-start .lines .line-1 .instagram i{
    font-size: 2.5rem;
    color: var(--red);
    padding: 0.1rem;
}
.footer-start .lines .line-1 .facebook i:hover,
.footer-start .lines .line-1 .telegram i:hover,
.footer-start .lines .line-1 .instagram i:hover{
    transform: rotate(360deg);
    transition: all 1.5s ease;
}
.footer-start .lines .line-1 .instagram span{
    font-family: var(--SF-Pro_Medium);
    font-size: 1.5rem;
    border: .1rem solid var(--red);
    width:75px;
    padding:.5rem;
    border-radius: 1rem 0 1rem 0;
}
.footer-start .lines .line-1 .instagram span:hover{
    background: var(--red);
    color: #fff;
    transition: .5s ease;
    border-radius: 0 1rem 0 1rem;
}
.footer-start .lines .line-2 .links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-start .lines .line-2 h1{
    font-family: 'SF-Pro_Semibold';
    font-size: 2.5rem;
    line-height: 2.6rem;
    color: #000;
    font-weight: 600;
    margin-bottom: 2rem;
}
.footer-start .lines .line-2 .links a{
    color:#000;
    font-size: 1.6rem;
    line-height: 19px;
    font-family: 'SF-Pro_Regular';
    margin-bottom: 2px;
}
.footer-start .lines .line-2 .links a:hover{
    text-decoration: underline;
}
.footer-start .lines .line-3 .links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-start .lines .line-3 h1{
    font-family: 'SF-Pro_Semibold';
    font-size: 2.5rem;
    line-height: 2.6rem;
    color: #000;
    font-weight: 600;
    margin-bottom: 2rem;
}
.footer-start .lines .line-3 .links a{
    color:#000;
    font-size: 1.6rem;
    line-height: 19px;
    font-family: 'SF-Pro_Regular';
    margin-bottom: 2px;
}
.footer-start .lines .line-3 .links a:hover{
    text-decoration: underline;
}
.footer-start .lines .line-4{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}
.footer-start .lines .line-4 h1{
    font-family: 'SF-Pro_Semibold';
    font-size: 2.5rem;
    line-height: 2.6rem;
    color: #000;
    font-weight: 600;
    margin-bottom: 2rem;
    position: absolute;
    top: -40px;
}
.footer-start .lines .line-4 h1:hover{
    color: rgb(11, 76, 255);
    cursor:pointer;
}
.footer-start .lines .line-4 p{
    font-family: 'SF-Pro_Regular';
    font-size: 1.6rem;
    line-height: 26px;
    width: 23.6rem;
}
.footer{
    border-top: .2rem solid rgba(0,0,0,.1);
}
.footer section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer section p{
    font-family: 'SF-Pro_Regular';
    font-size: 1.4rem;
    line-height: 20px;
    color: #000;
}
.footer section .apps{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.footer section .apps p{
    font-family: 'SF-Pro_Regular';
    font-size: 1.4rem;
    line-height: 20px;
    color: #000;

}
#menu-bar{
    font-size: 3rem;
    cursor: pointer;
    color: #666;
    border: .1rem solid #666;
    border-radius: .3rem;
    padding: .5rem 1.5rem;
    display: none;
}